*.pyc
.DS_Store
*.mo
*.egg
/.installed.cfg
johnpatrick.theme.egg-info
dist/
/bin/
/develop-eggs/
/include/
/lib/
/nixenv
/parts/
/var/
/.mr.developer.cfg
/src/plone.app.widgets
*.swp
*.swo
.zedstate
*~
